<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469697089497-i9r77c45n0ifuce2p8bp10h9oj3up5rq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469697089497-i9r77c45n0ifuce2p8bp10h9oj3up5rq</string>
	<key>API_KEY</key>
	<string>AIzaSyCEMI10ml04zJYp15sui08bY7_cgvoyIks</string>
	<key>GCM_SENDER_ID</key>
	<string>469697089497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.b1sth3be5t.badgr</string>
	<key>PROJECT_ID</key>
	<string>badgr-88835</string>
	<key>STORAGE_BUCKET</key>
	<string>badgr-88835.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469697089497:ios:c614ba8041a51a65abd3c8</string>
</dict>
</plist>